footer {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer hr {
    width: 100%;
    height: 1px;
    background: #ddd;
}

footer a {
    width: 50%;
    font-size: 1rem;
    color: #fff;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

footer p {
    width: 100%;
    font-size: 0.8rem;
    color: #aaa;
    text-align: center;
    padding: 10px;
}